version: '3.8'

services:
  app:
    build: .
    ports:
      - "9090:9090"
    depends_on:
      - db
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: docker # Можно использовать для разных конфигураций
    restart: unless-stopped

  db:
    image: postgres:16-alpine # Используй подходящую версию
    environment:
      POSTGRES_DB: livelib_db
      POSTGRES_USER: livelib_user
      POSTGRES_PASSWORD: secure_password
    ports:
      - "5433:5432" # Внешний порт 5433, внутренний 5432 (порт по умолчанию PostgreSQL)
    volumes:
      - postgres_data:/var/lib/postgresql/data # Персистентное хранилище данных БД
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"
    restart: unless-stopped

volumes:
  postgres_data: